name: Trigger auto deployment for opnote

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/opnote-AutoDeployTrigger-b2d38a45-4679-4afc-8f87-071f84a55a97.yml'

  # Allow manual trigger 
  workflow_dispatch:
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.OPNOTE_AZURE_CREDENTIALS }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: opnoteacr.azurecr.io
          registryUsername: ${{ secrets.OPNOTE_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.OPNOTE_REGISTRY_PASSWORD }}
          containerAppName: opnote
          resourceGroup: opnote-rg
          imageToBuild: opnoteacr.azurecr.io/opnote:${{ github.sha }}
          
            

     

